{% extends "template.html.twig" %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block body %}
    <body class="accueil">
{% endblock %}

{% block content %}
    <div class="presentation">
        <h1>Bienvenue !</h1>
        <figure class="little-presentation">
            <img src="/../asset/images/JF-back.jpg">
            <figcaption>   
                <h2>L'auteur</h2>             
                <p>Je suis ravie de vous accueillir dans mon univers d’écrivain, fait <strong>d’introspection,</strong> <strong>de poésie,</strong> <strong>de légèreté et d’humour</strong></p>
                <p class="button"><a href="/about" class="waves-effect waves-light btn">À propos</a></p>
            </figcaption>
        </figure>
    </div>
    <div class="bg-content">
        <p>"Découvrez une autre façon d'appréhender et d'apprécier un roman..."</p>
    </div>
    {% endblock %}

    {% block Morecontent %}
    <h1>Les derniers chapitres</h1>
    <div class="container">
    {% for lastArticle in lastArticle %}
    <div class="box-content">
        <figure class="cover_article"><img src="{{ lastArticle.image_article}}"></figure>
        <h2 class="articleTitle"> {{lastArticle.title|goToLine|raw}}</h2>
        <p class="date"> {{lastArticle.date_article}}</p>
        <p class = "resumeArticle"> {{ lastArticle.content|truncate|raw }} </p>
        <p class="see-more"><a class="waves-effect waves-light btn" href="blog/chapitre/{{ lastArticle.id_article}}">Voir plus</a></p>
    </div>

    {% endfor %}
    </div>
    {% endblock %}



