{% extends session  ? "admin/templateAdmin.html.twig" : "template.html.twig"   %}

{% block title %}
<title>Article</title>
{% endblock %}

{% block body %}
{% if session  %}

<body class="admin admin_article">
        {% else %}

        <body class="global article">
                {% endif %}
                {% endblock %}

                {% block content %}
                {% if session  %}
                <p class="back"><a href="/admin/auth" title="retour"><i
                                        class="medium material-icons right">subdirectory_arrow_left</i></a></p>
                {% endif %}
                <div class="article">
                        <div class="box-article">
                                <h1>{{ article.title|goToLine|raw }}</h1>

                                <p> {{ article.content|raw }} </p>
                                <p class="createAt"> Créé le {{ article.date_article }}</p>

                        </div>
                        {% if not session %}

                        {% for commentsArticle in comms %}
                        <div class="box-comments">
                                <p class="authorComment"> {{ commentsArticle.author }} <span class="dateComm">
                                                {{ commentsArticle.date_comm }}</span> <span class="report"><a href="/report/{{ commentsArticle.id_comm }}"
                                                        title="Signaler"> <i
                                                                class="small material-icons">warning</i></a></span></p>
                                <p> {{ commentsArticle.content }}</p>
                        </div>
                        {% endfor %}
                        {% endif %}
                </div>
                {% if not session %}
                
                <div class="pagination">

                                <p>Pages :
        
                                        {% if nbPages == 1 or not comms %}
                                        <span>1</span>
                                        {% else %}
                                        {% for nbPages in 1..nbPages %}
                                        <a href="?page= {{ nbPages }}">{{ nbPages }} </a>
                                        {% endfor %}
                                        {% endif %}
                                </p>
        
        
                        </div>

                <form method="post" action="">
                        <h2>Poster un commentaire</h2>
                        <div class="name input-field">
                                <label for="name"> Votre nom : *</label>
                                <input name="name" id="name" type="text" class="validate">
                                {% if errors.name is defined %}
                                <span class="error">{{errors.name}}</span>
                                {% endif %}
                        </div>
                        <div class="message input-field">
                                <label for="message"> Votre message : *</label>
                                <textarea name="message" id="message" class="materialize-textarea"></textarea>
                                {% if errors.message is defined %}
                                <span class="error">{{errors.message}}</span>
                                {% endif %}
                        </div>
                        <div class="button">
                                <button type="submit" class="waves-effect waves-light btn">Envoyer
                                        <i class="material-icons right">send</i>
                                </button>
                        </div>
                </form>
                
                {% endif %}
                {% endblock %}