{% extends "template.html.twig" %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block body %}
    <body class="global blog">
{% endblock %}

{% block pageTitle %}
        <h1>Blog</h1>
{% endblock %}

{% block content %}
    
        {% if allArticles %}
            {% for articles in allArticles %}
                <div class="box-content">
                    <figure class="cover_article"><img src="{{ articles.image_article }}" alt="chapitre billet alaska"></figure>
                    <h2 class="articleTitle">{{ articles.title|goToLine|capitalize|raw }}</h2>
                    <p class ="date">{{ articles.date_article }}</p>
                    <div class = "resumeArticle"> {{ articles.content|truncate|raw }} </div>
                    <p class="see-more"><a class="waves-effect waves-light btn" href="blog/chapitre/{{ articles.id_article }}">Voir plus</a></p>
                </div>
                
            {% endfor %}
        {% endif %}
    

{% endblock %}
