{% extends "template.html.twig" %}

{% block title %}
    <title>Article</title>
{% endblock %}

{% block body %}
    <body class="global article">
{% endblock %}

{% block content %}
        <div class = "article">
                <div class="box-article">
                <h1> {{ article.title }}<span> {{ article.date_article }}</span></h1>
                        <p> {{ article.content }} </p>
                </div>
                {% for commentsArticle in comms %}
                <div class = "box-comments">
                        <h1> {{ commentsArticle.author }} <span>{{ commentsArticle.date_comm }}</span> </h1>
                        <p> {{ commentsArticle.content }}</p>
                </div>
                {% endfor %}

        </div>

<form method ="post" action = "">
        <div class ="name input-field">
            <label for="name"> Votre nom : *</label>
            <input name="name" id="name" type="text" class="validate">
            {% if errors.name is defined %}
            <span class="error">{{errors.name}}</span> 
            {% endif %}
        </div>
        <div class="message input-field">
            <label for="message"> Votre message : *</label>
            <textarea name="message" id="message" class="materialize-textarea"></textarea>
            {% if errors.message is defined %}
            <span class="error">{{errors.message}}</span> 
            {% endif %}
        </div>
        <div class="button">
                <button type="submit"  class="waves-effect waves-light btn">Envoyer
                        <i class="material-icons right">send</i>
                </button>
        </div>
</form>
<div class = "pagination">

           <p>Pages :

         {% if nbPages == 1 or not comms %}
                <span>1</span>
                {% else %}
                {% for nbPages in 1..nbPages %}
                <a href = "?page= {{ nbPages }}">{{ nbPages }} </a>
                {% endfor %}
        {% endif %} 
        </p>

       
</div>
{% endblock %}